<section>
	<h3>About Myself<div></div></h3>

	<div class="face-lockup">
		<div class="face-img" style="background-image: url(css/img/{{ site.avatar }});"></div>

		<div class="icon-pencil"><div>{% include icons/icon-pencil.html %}</div></div>
		<div class="icon-mouse"><div>{% include icons/icon-mouse.html %}</div></div>
		<div class="icon-website"><div>{% include icons/icon-website.html %}</div></div>
		<div class="icon-programming"><div>{% include icons/icon-programming.html %}</div></div>

	</div>

	<div class="blurb">
		<p>Hello, My Name is <strong>Muhammad Alfin a.k.a Mas Alfin.</strong> I am 23 years old. I am a web developer/designer based in Yogyakarta, Indonesia. I really like for anything web or art related.</p>
	</div>
	
	<h3>Skills<div></div></h3>

	<div class="skill-lockup">
		<div class="skill-unit">
			<div class="skill-label">Communication</div>
			<div class="skill-icons skill-7">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit-right">
			<div class="skill-label">Organization</div>
			<div class="skill-icons skill-7">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">Learning</div>
			<div class="skill-icons skill-8">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit-right">
			<div class="skill-label">Vector</div>
			<div class="skill-icons skill-6">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit">
			<div class="skill-label">UI/UX Design</div>
			<div class="skill-icons skill-7">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>

		<div class="skill-unit-right">
			<div class="skill-label">Web Programming</div>
			<div class="skill-icons skill-8">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>  

	</div>
</section>