<section>
	<h3 id="about-me">About Myself<div></div></h3>

	<div class="face-lockup">
		<div class="face-img"></div>

		<div class="icon-pencil"><div>{% include icons/icon-pencil.html %}</div></div>
		<div class="icon-mouse"><div>{% include icons/icon-mouse.html %}</div></div>
		<div class="icon-website"><div>{% include icons/icon-website.html %}</div></div>
		<div class="icon-programming"><div>{% include icons/icon-programming.html %}</div></div>

	</div>

	<div class="blurb">
		<p>Hello, My Name is <strong>Muhammad Alfin a.k.a Mas Alfin.</strong> I am 23 years old. I am a web developer/designer based in Yogyakarta, Indonesia. I really like for anything web or art related.</p>
	</div>
	
	<h3>Skills<div></div></h3>

	<div class="skill-lockup">
	{% for skill in site.data.portfolio.skills %}
		<div class="{{ skill.style }}">
			<div class="skill-label">{{ skill.name }}</div>
			<div class="skill-icons skill-{{ skill.value}}">
				<span></span><span></span><span></span><span></span><span></span>
				<span></span><span></span><span></span><span></span><span></span>
			</div>
		</div>
	{% endfor %}  

	</div>
</section>